---
---


@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url("http://fonts.googleapis.com/earlyaccess/kopubbatang.css");

@font-face {
  font-family: 'Jeongum';
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/seoul/Jeongum/Jeongum.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/seoul/Jeongum/Jeongum.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family : 'NanumBarunpen';
  src: url('/upload/fonts/NanumBarunpen.ttf') format( 'truetype'),
       url('/upload/fonts/NanumBarunpen.woff2') format('woff2');
}

// Our variables
$base-font-family: 'NanumBarunpen';
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout",
        "custom",
        "syntax-highlighting"
;

// customizeing
.panel-title {
  width: 77%;
  height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

blockquote {
  background-color: #fff3f3;
  color: #ff5353;
  border-left-color: #f16565;
}

th {
  background-color: #f76666;
  color: white;
  font-size: larger;
}

th, td {
  padding: 8px;
}
/*
tr:nth-child(even) {
  background-color: #f2f2f2
}
*/
tr {
  border-bottom: 1px solid #ddd;
}